body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px
    }

header {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center
}

nav {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center
}
#derecho {
    background: #ebebeb;
    text-align: center;
    padding-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 272.667px;
    float: left
}   


#article {
    color: white;
    background: #777;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    
}
#h1,h2,h3 {
    color: #777;    
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px
}

#p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#aside {
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    height: 272.667px;
    width: 380px;
    float: left

            
}



footer {
    clear: both;
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    overflow: auto
}